body{background-color: azure; text-align:justify; font-size: 18px;}
h1 {text-align: center; background-color: black; color:blue}
h3 {text-align:justify; color: black}
b{color:bisque; font-sinje: 18px;}
i {color:blue;font-size:18px;}
header,footer{background-color: black;text-aling:center;font-senge:20px;}
main{background-color: blue;}